.mhc-hero-callouts {
    position: relative;
    left: 0;
    bottom: 0;
    height: 20vh;
    width: 100%;
    
    ul {
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
}