.mhc-products-category {
    position: static !important;
    margin: 32px 0;
    list-style: none;

    .mhc-title {
        font-family: $neutraface-demi;
        text-transform: uppercase;
        color: $mhc-black;
        text-align: center;
        font-size: 32px;
        margin-bottom: 16px;
    }

    .mhc-description {
        color: #999;
        font-family: $lato-light;
        text-align: center;
        width: 100%;
        margin: 0 auto 48px;
        max-width: 500px;

        p {
            margin-top: 0;
            font-size: 20px;
        }
    }

    @media only screen and (min-width: 768px) {

        .mhc-title {
            font-size: 64px;
        }
    }
}