.mhc-products {
    
    .columns + .columns:last-child {
        float: left;
    }
}

.mhc-products-wrapper {
    position: relative;
    width: 100%;
    clear: both;
}

.mhc-products-option-selectors-container {
    width: 100%;
    box-shadow: 0px 4px 10px rgba(21, 21, 21, 0.5);
    position: relative;
    display: none;
    background: $mhc-dark-white;

    .inner-outer {

        .inner-inner {
            height: 100%;
        }
    }

    &.fixed {
        position: fixed;
        top: 100px;
        overflow: scroll;
    }
}

.mhc-products-container-all {
    width: 100%;
    padding: 16px;
}


.mhc-products-accordion {

    .mhc-products-accordion-title,
    .mhc-category-selector-container {
        padding: 0 24px;
    }

    .mhc-products-accordion-title {
        height: 80px;
        width: 100%;
        border-top: 1px solid $mhc-soft-border;

        &.flavors {
            border-bottom: 1px solid $mhc-soft-border;
        }
    }
}

.mhc-products-accordion-link {
    font-family: $knockout-junior;
    text-transform: uppercase;
    color: $mhc-black;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;

    .mhc-link-copy {
        @include align-vertically;
        left: 0;
        font-size: 20px;
    }

    .mhc-link-icon {
        @include align-vertically;
        right: 0;
        font-size: 32px;
    }
}

.mhc-products-accordion-body {

    p {
        height: 24px;
        width: 100%;
        position: relative;
        font-family: $knockout-junior;
        text-transform: uppercase;

        input[type="checkbox"] {
            margin: 0;
            @include align-vertically;
            left: 0;
        }

        span {
            @include align-vertically;
            left: 20px;
        }
    }
}

/* Flavor Selectors */
.mhc-flavors-selector-container {
    border-bottom: 1px solid $mhc-soft-border;
    // margin-bottom: 48vh;

    .row:after {
        height: 50vh;
    }
}

.mhc-flavor-btn {
    background: $mhc-dark-white;
    padding: 16px;
    border-bottom: 1px solid $mhc-soft-border;
    

    &:nth-of-type(odd) {
        border-right: 1px solid $mhc-soft-border;
    }


    &.checked {
        background: #e4e4e4;
    }

    .mhc-btn-copy {
        margin: 0;
    }
}


@media only screen and (min-width: 1024px) {

    .mhc-products-option-selectors-container {
        width: 30%;
        display: block;
        float: left;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .mhc-products-container-all {
        width: 70%;
        float: right;
    }
}

@media only screen and (min-width: 1366px) {

    .mhc-products-option-selectors-container {
        width: 30%;
    }

    .mhc-products-container-all {
        width: 70%;
    }
}

@media only screen and (min-width: 1680px) {

    .mhc-products-option-selectors-container {
        width: 20%;
    }

    .mhc-products-container-all {
        width: 80%;
    }
}