body {
    font-family: $lato-light;
    background-color: #fbfbfb;
    color: #999;

    &.overflow-hidden {
        overflow: hidden; 
    }
}

.img-replace {
    /* replace text with an image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}

.mhc-page {
    position: relative;
    height: 100%;
    width: 100%;
    transition: all $transition-speed;

    &.scaled-down {
        -webkit-transform: scale(0.98);
            -ms-transform: scale(0.98);
                transform: scale(0.98);
    }
}

.mhc-pretitle {
    color: $mhc-green;
    font-family: $knockout-junior;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
}

.mhc-title {
    font-family: $neutraface-demi;
    text-transform: uppercase;
}

.mhc-description {
    font-size: 18px;
    line-height: 1.5;
    color: white;
}

.mhc-btn {
    border-radius: 25px;
    color: white;
    font-family: $knockout-junior;
    text-transform: uppercase;
    height: 40px;
    width: 120px;
    display: block;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    position: relative;
    transition: background-color $transition-speed;

    &.highlighted {
        border-color: $mhc-green;
        background-color: $mhc-green;

        &:hover {
            background-color: rgba(34, 156, 81, 0.4);
        }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

    .mhc-btn-copy {
        @include align-totally;
        width: 100px;
        font-size: 14px;
        text-align: center;
        padding-top: 2px;
    }

    .play {
        @include align-vertically;
        border: 1px solid white;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        display: inline-block;
        position: absolute;
        right: -6px;
        display: none;

        .fa-play {
            @include align-totally;
            font-size: 12px;
        }
    }
}

.mhc-brick {

    .mhc-shadow {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 4px);
        background: $mhc-black;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s, box-shadow 0.3s;
    }

    &:hover .mhc-shadow {
        visibility: visible;
        opacity: 0.5;
    }

    &:hover {
        box-shadow: inset 0 -4px $mhc-green;
    }
}

.mhc-double-border {
    padding: 8px;
    clear: both;

    .inner-outer {
        padding: 4px;
        border: 4px solid $mhc-border-gray;

        .inner-inner {
            border: 1px solid $mhc-border-gray;
        }
    }
}

@media only screen and (min-width: 768px) {

    .mhc-btn {
        height: 50px;
        width: 200px;

        .mhc-btn-copy {
            font-size: 18px;
        }
    }

    .mhc-title {
        font-size: 60px;
    }

    .mhc-pretitle,
    .mhc-description {
        font-size: 24px;
    }
}

