@font-face {
    font-family: 'Knockout Junior Welter Weight';
    src: url('../fonts/knockout/knockout-juniorwelterwt.eot');
    src: url('../fonts/knockout/knockout-juniorwelterwt.woff') format('woff'),
         url('../fonts/knockout/knockout-juniorwelterwt.ttf')  format('truetype'),
         url('../fonts/knockout/knockout-juniorwelterwt.otf')  format('opentype');
}

@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/lato/lato-light.eot');
    src: url('../fonts/lato/lato-light.woff') format('woff'),
         url('../fonts/lato/lato-light.ttf')  format('truetype'),
         url('../fonts/lato/lato-light.otf')  format('opentype');
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/lato/lato-regular.eot');
    src: url('../fonts/lato/lato-regular.woff') format('woff'),
         url('../fonts/lato/lato-regular.ttf')  format('truetype'),
         url('../fonts/lato/lato-regular.otf')  format('opentype');
}

@font-face {
    font-family: 'Neutraface Slab Demi';
    src: url('../fonts/neutrafaceslab/neutrafaceslabtext-demi.eot');
    src: url('../fonts/neutrafaceslab/neutrafaceslabtext-demi.woff') format('woff'),
         url('../fonts/neutrafaceslab/neutrafaceslabtext-demi.ttf')  format('truetype'),
         url('../fonts/neutrafaceslab/neutrafaceslabtext-demi.otf')  format('opentype');
}

@font-face {
    font-family: 'Neutraface Slab Light';
    src: url('../fonts/neutrafaceslab/neutrafaceslabtext-light.eot');
    src: url('../fonts/neutrafaceslab/neutrafaceslabtext-light.woff') format('woff'),
         url('../fonts/neutrafaceslab/neutrafaceslabtext-light.ttf')  format('truetype'),
         url('../fonts/neutrafaceslab/neutrafaceslabtext-light.otf')  format('opentype');
}