$mhc-white: #e6e6e6;
$mhc-dark-white: #fbfbfb;
$mhc-green: #229C51;
$mhc-black: #151515;
$mhc-super-dark-gray: #1f1f1f;
$mhc-dark-gray: #282828;
$mhc-border-gray: #E4E4E4;
$mhc-soft-border: #eaedef;

$mhc-plain: #789d4c;
$mhc-lemon: #f7d13c;
$mhc-vanilla: #eecd93;
$mhc-maple: #ce430c;
$mhc-blueberry: #385f86;
$mhc-orange: #f88b22;
$mhc-strawberry: #c3292e;
$mhc-raspberry: #ba3e6c;
$mhc-peach: #e38b6d;

/* Cheese */
$mhc-stonecreek: #759b48;
$mhc-cheddar: #e8823d;
$mhc-dutch: #c03f3f;


$header-height: 100px;
$transition-speed: 0.5s;



/* Fonts */
$knockout-junior: 'Knockout Junior Welter Weight';
$lato-light: 'Lato Light';
$lato-regular: 'Lato Regular';
$neutraface-demi: 'Neutraface Slab Demi';
$neutraface-light: 'Neutraface Slab Light';