.mhc-modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($mhc-green, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
       -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
            transition: opacity 0.3s 0s, visibility 0s 0.3s;

    &.is-visible {
        opacity: 1;
        visibility: visible;
        z-index: 11;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
           -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
                transition: opacity 0.3s 0s, visibility 0s 0s;

        .mhc-modal-inner {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);            
        }
    }
}

.mhc-modal-inner {
    position: relative;
    position: relative;
    width: 90%;
    max-width: 960px;
    margin: 120px auto;
    background: rgba(34, 156, 81, 0.9);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    -webkit-transform: translateY(-20px);
       -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
         -o-transform: translateY(-20px);
            transform: translateY(-20px);

    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
       -moz-transition-property:    -moz-transform;
            transition-property:         transform;

    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.mhc-video {
    width: 100%;
    border-radius: 12px;
    height: 100%;
    display: block;
}

.mhc-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 12px;
        width: 14px;
        height: 3px;
        background-color: $mhc-green;
    }

    &::before {
        @include rotator(45deg);
        left: 8px;
    }

    &::after {
        @include rotator(-45deg);
        right: 8px;
    }
}