.mhc-home-feature {
    clear: both;

    .mhc-copy-container {
        text-align: center;
        padding: 64px 16px;

        .mhc-pretitle,
        .mhc-title {
            text-transform: uppercase;
        }

        .mhc-pretitle {
            color: $mhc-green;
            margin-bottom: 8px;
        }

        .mhc-title {
            color: $mhc-black;
            margin: 0;
        }

        .mhc-img, 
        .mhc-description {
            width: 100%;
            margin: 0 auto;

            @media only screen and (min-width: 768px) {
                width: 75%;
            }
        }

        .mhc-description {
            color: #999;
        }
    }
}
