.mhc-home-about {
    height: 75vh;
    width: 100%;
    clear: both;

    .mhc-subsections-container {
        height: 100%;

        .mhc-subsection {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: white;

            .mhc-inner {
                @include align-totally;
                width: 80%;
            }

            .mhc-icon {
                height: 24px;
                width: auto;
            }

            .mhc-pretitle {
                margin: 8px 0 4px;
            }

            .mhc-title {
                margin: 0;
                font-size: 32px;
            }

            &.mhc-our-history {
                background-image: url(../img/maplehill-grass-fed-our-history.jpg);
                height: 50%;
            }

            &.mhc-grass-facts {
                background-image: url(../img/maplehill-grass-fed-milk-facts.jpg);
                height: 50%;
            }

            &.mhc-our-mission {
                background-image: url(../img/maplehill-grass-fed-mission-big.jpg);
            }
        }
    }
}
