.mhc-home-newsletter {
    background: url(../img/maplehill-grass-fed-background-farm.png);
    background-repeat: no-repeat;
    background-position: 30% 50%;
    
    .mhc-form-container {

        form {
            position: relative;
            margin: 0 auto;
            max-width: 540px;
            
            .mhc-text-input {
                border-radius: 50px;
                margin: 0;
                height: 50px;
                padding-left: 16px;
            }

            .mhc-submit {
                @include align-vertically;
                right: 6px;
                height: 38px;
                width: 38px;
                border-radius: 50%;
                border: 0;
                background-color: $mhc-green;
                cursor: pointer;
                margin: 0;
                color: white;
                font-size: 14px;
                font-weight: 700;
                padding-left: 9px;
            }
        }
    }

    .mhc-copy-container {

        .mhc-description {
            max-width: 540px;
            margin: 32px auto;
        }
    }
}