.mhc-home-more-info {
    height: 75vh;
    width: 100%;
    clear: both;

    .mhc-subsections-container {
        height: 100%;

        .mhc-subsection {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: white;

            .mhc-inner {
                @include align-totally;
                width: 80%;
            }

            .mhc-icon {
                height: 24px;
                width: auto;
            }

            .mhc-pretitle {
                margin: 8px 0 4px;
            }

            .mhc-title {
                margin: 0;
                font-size: 32px;
            }

            &.mhc-recipe-book {
                background-image: url(../img/maplehill-grass-fed-recipe-book.jpg);
            }

            &.mhc-news-press {
                background-image: url(../img/maplehill-grass-fed-news-press.jpg);
                height: 50%;
            }

            &.mhc-milkshed {
                background-image: url(../img/maplehill-grass-fed-the-milkshed.jpg);
                height: 50%;
            }
        }
    }
}