.mhc-header {
    height: $header-height;
    width: 100%;
    position: fixed;
    z-index: 10;
    transition: background-color $transition-speed;

    &.active {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 4px 10px rgba(21, 21, 21, 0.5);
    }

    &.open-nav {
        background-color: black;
    }

    .row {
        height: 100%;
    }
}

.mhc-main-nav-trigger {
    @include align-vertically;
    display: block;
    left: 16px;
    height: 32px;
    width: 32px;
    border: 2px solid white;
    border-radius: 50%;
    transition: border-color $transition-speed;
    
    &.active {
        border-color: $mhc-black;
    }

    div {
        @include align-totally;
        width: 18px;

        span {
            width: 100%;
            height: 2px;
            display: block;
            margin: 2px 0;
            background: white;
            
            &.active {
                background: $mhc-black;
            }

            &:last-of-type {
                width: 50%;
            }
        }
    }

    .mhc-main-nav-text {
        @include align-vertically;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        right: -50px;
        font-size: 14px;
        font-family: $knockout-junior;
        display: none;

        &.active {
            color: $mhc-black;
        }
    }

    .mhc-main-nav-icon {
        @include align-totally;
        display: inline-block;
        bottom: auto;
        right: auto;
        width: 18px;
        height: 2px;
        background-color: white;
        transition: background-color $transition-speed;

        &.active {
            background-color: $mhc-black;

            &::before,
            &::after {
                background-color: $mhc-black;
            }
        }

        &::before,
        &::after {
            content: '';
            height: 100%;
            width: 100%;
            right: 0;
            position: absolute;
            background-color: white;
            transition: transform $transition-speed, top $transition-speed, background-color $transition-speed;
        }

        &::before {
            top: -5px;
        }

        &::after {
            top: 5px;
        }

        &.clicked {
            background-color: rgba(255, 255, 255, 0);

            &::before, 
            &::after {
                background-color: white;
            }

            &::before {
                @include rotator(135deg);
                top: 0;
            }

            &::after {
                @include rotator(225deg);
                top: 0;
            }
        }
    }
}

.mhc-header-logo {
    @include align-totally;
    width: 200px;

    img {
        width: 100%;
    }
}

.mhc-header-links {
    display: none;
}



@media only screen and (min-width: 768px) {

    .mhc-main-nav-trigger {
        left: 32px;
    }

    .mhc-header-links {
        display: block;
        position: absolute;
        right: 32px;
        top: 0;
        height: 100%;

        ul {
            height: 100%;
        }

        li {
            display: inline-block;
            height: 100%;
            margin: 0 8px;
        }

        a {
            color: white;
            display: block;
            height: 100%;
            position: relative;
            
            &.active {
                color: $mhc-black;
            }

            span {
                display: block;
                color: white;
                
                &.active {
                    color: $mhc-black;
                }
            }

            .mhc-link {
                height: 100%;
            }

            .mhc-link-element {
                float: left;
                height: 100%;
            }
        }

        .mhc-link-icon {
            width: 30px;
            background-position: center;
            background-size: 18px 18px;
            background-repeat: no-repeat;

            &.mhc-stores {
                background-image: url(../img/maplehill-grass-fed-find-stores-white.png);
                
                &.active {
                    background-image: url(../img/maplehill-grass-fed-find-stores.png);
                }
            }

            &.mhc-farms {
                background-image: url(../img/maplehill-grass-fed-farms-white.png);
                
                &.active {
                    background-image: url(../img/maplehill-grass-fed-farms.png);
                }
            }
        }

        .mhc-link-copy {
            font-size: 12px;
            padding-left: 2px;
            display: table;
            font-family: $knockout-junior;
            text-transform: uppercase;

            span {
                display: table-cell;
                vertical-align: middle;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}
