.mhc-hero {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.mhc-hero-bg {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

    .row {
        height: 100%;
    }

    .mhc-copy {
        height: 100%;
        width: 100%;
    }

    .mhc-copy-container {
        position: absolute;
        bottom: 0;
        padding: 16px;
        color: white;

        .mhc-pretitle {
            margin: 0;
        }

        .mhc-title {
            font-size: 48px;
            margin: 0;
            font-weight: 100;

            .percent {
                font-size: 40px;
            }
        }

        .mhc-description {
            margin-top: 0;
        }

        .mhc-call-to-action-btns {
            
            .mhc-btn {
                float: left;

                &.highlighted {
                    margin-right: 8px;
                }
            }
        }
    }
}


@media only screen and (min-width: 768px) {

    .mhc-hero-bg {
        height: 80vh;

        .mhc-copy-container {
            padding: 32px;

            .mhc-pretitle {
                font-size: 18px;
            }

            .mhc-title {
                font-size: 64px;
            }

            .mhc-description {
                font-size: 22px;
                width: 70%;
            }
        }
    }
}
