.mhc-main-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 0.3s;
    z-index: 1;
    background-color: black;
    padding-top: $header-height;
    text-align: center;

    &.open {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        overflow-y: auto;
    }
}

.mhc-main-nav-body {
    background-color: $mhc-black;
}

.mhc-main-nav-list {

    li {
        height: 50px;

        &:not(:last-of-type) {
            border-bottom: 1px solid $mhc-dark-gray;
        }

        a {
            display: table;
            height: 100%;
            width: 100%;
            transition: background-color $transition-speed;
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 4px;
            font-family: $knockout-junior;
            font-size: 30px;

            span {
                display: table-cell;
                vertical-align: middle;
            }

            &:hover {
                background-color: $mhc-green;
            }
        }
    }
}

.mhc-main-nav-footer {
    background-color: black;

    p {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 4px;
    }
}

.mhc-links-list {

    li {
        display: inline-block;
        text-align: center;

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: white;
            transition: color $transition-speed;

            &:hover {
                color: $mhc-green;
            }
        }
    }
}

.mhc-main-nav-social-list {
    padding: 32px 0;

    li {
        width: 50px;

        a {
            font-size: 24px;
        }
    }
}

.mhc-main-subnav-list {
    padding: 0 0 16px;

    li {
        margin: 0;

        &:not(:last-of-type) {
            border-right: 1px solid #999;
        }

        a {
            padding: 0 8px;
            font-size: 12px;
            color: #999;
        }
    }
}

@media only screen and (min-width: 768px) {

    .mhc-main-nav-trigger {

        .mhc-main-nav-text {
            display: block;
        }
    }
}